/*
GENERAL SETTING
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Doppio One', sans-serif;
}

h1, span{
    text-align: center;
    margin-top: 20px;
}

span{
    display: block;
}